In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("example").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/25 05:43:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/09/25 05:43:53 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [ ]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [ ]:
names_df=spark.read.option('header',True).option('inferschema',True).csv('/home/labuser/Downloads/Baby_Names.csv')

In [ ]:
names_df.show()

+----+----------+-----------+---+-----+
|Year|First Name|     County|Sex|Count|
+----+----------+-----------+---+-----+
|2007|      ZOEY|      KINGS|  F|   11|
|2007|      ZOEY|    SUFFOLK|  F|    6|
|2007|      ZOEY|     MONROE|  F|    6|
|2007|      ZOEY|       ERIE|  F|    9|
|2007|       ZOE|     ULSTER|  F|    5|
|2007|       ZOE|WESTCHESTER|  F|   24|
|2007|       ZOE|      BRONX|  F|   13|
|2007|       ZOE|   NEW YORK|  F|   55|
|2007|       ZOE|     NASSAU|  F|   15|
|2007|       ZOE|       ERIE|  F|    6|
|2007|       ZOE|    SUFFOLK|  F|   14|
|2007|       ZOE|      KINGS|  F|   34|
|2007|       ZOE|     MONROE|  F|    9|
|2007|       ZOE|     QUEENS|  F|   26|
|2007|       ZOE|     ALBANY|  F|    5|
|2007|     ZISSY|   ROCKLAND|  F|    5|
|2007|     ZISSY|      KINGS|  F|   27|
|2007|      ZION|      KINGS|  M|   15|
|2007|      ZION|      BRONX|  M|   14|
|2007|       ZEV|   ROCKLAND|  M|    6|
+----+----------+-----------+---+-----+
only showing top 20 rows

In [ ]:
names_df.groupBy('Year').count().sort(col('Year').).show()

+----+-----+
|Year|count|
+----+-----+
|2007| 6367|
|2008| 6481|
|2009| 6312|
|2010| 6192|
|2011| 6216|
|2012| 6164|
|2013| 6158|
|2014| 8362|
+----+-----+

In [ ]:
names_df.write.mode('overwrite').partitionBy('Year').option('path','/home/labuser/raw/processed_data/baby/partitionbyyear').saveAsTable('babynames_year')

In [ ]:
spark.sql('select * from babynames_year where year=2007').show()

+----------+-----------+---+-----+----+
|First Name|     County|Sex|Count|Year|
+----------+-----------+---+-----+----+
|      ZOEY|      KINGS|  F|   11|2007|
|      ZOEY|    SUFFOLK|  F|    6|2007|
|      ZOEY|     MONROE|  F|    6|2007|
|      ZOEY|       ERIE|  F|    9|2007|
|       ZOE|     ULSTER|  F|    5|2007|
|       ZOE|WESTCHESTER|  F|   24|2007|
|       ZOE|      BRONX|  F|   13|2007|
|       ZOE|   NEW YORK|  F|   55|2007|
|       ZOE|     NASSAU|  F|   15|2007|
|       ZOE|       ERIE|  F|    6|2007|
|       ZOE|    SUFFOLK|  F|   14|2007|
|       ZOE|      KINGS|  F|   34|2007|
|       ZOE|     MONROE|  F|    9|2007|
|       ZOE|     QUEENS|  F|   26|2007|
|       ZOE|     ALBANY|  F|    5|2007|
|     ZISSY|   ROCKLAND|  F|    5|2007|
|     ZISSY|      KINGS|  F|   27|2007|
|      ZION|      KINGS|  M|   15|2007|
|      ZION|      BRONX|  M|   14|2007|
|       ZEV|   ROCKLAND|  M|    6|2007|
+----------+-----------+---+-----+----+
only showing top 20 rows

AttributeError: 'DataFrameWriter' object has no attribute 'saveAsparquet'

In [ ]:
names_df.write.mode('overwrite').partitionBy('Year','Sex').option('path','/home/labuser/raw/processed_data/baby/partitionbyyear&gender').saveAsTable('babynames_year_gender')

In [ ]:
names_df.write\
.mode("overwrite")\
.option("maxRecordsPerFile",4000)\
.partitionBy("Year")\
.option("path","/home/labuser/1ShellPython/raw/processed_data/baby/partitionbyyear_maxi4k")\
.saveAsTable("babynames_year_maxi4k")